<div id="mobile_overlay"><span>Sorry this screen is to small for this web app.</span></div>

<footer>
    <span>Copyright © <%= new Date().getFullYear() %></span>
</footer>
<script src="/js/script.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
</body>
</html>